@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
label,
a,
button,
span,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
li,
strong,
div,
legend {
  font-family: "Poppins", sans-serif !important;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"]::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}







.bg-color {
  background-color: rgba(55, 52, 52, 0.129);
}


.selection-class {
  padding: 10px;
  border: none;
  outline-offset: unset;
  outline: none;
}

/* autocomplete-location */

.autocomplete-wrapper {
  position: relative;
}

.autocomplete-results {
  position: absolute;
  background: white;
  z-index: 1;
  top: 100%;
  left: 0;
  font-size: 15px;
  border-top-width: 0;
  border-bottom-color: #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-result {
  padding: 12px 15px;
  border-bottom: solid 1px #eee;
  width: 501px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: rgba(194, 199, 194, 0.274);
}

.autocomplete-result:last-child {
  border-bottom-width: 0;
}

.autocomplete-location {
  color: blue;
  margin-top: -4%;
  font-size: 14px;
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.box-shadow:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.ref-font {
  font-size: 12px;
}

.show-hide {
  min-width: 100px;
  position: relative;
  margin-bottom: 71px;
  background: white;
  padding: 2px 18px;
  border-right: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  border-left: 1px solid rgb(226, 226, 226);
  border-image: initial;
  transition: width 0.2s ease-in-out 0s;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #dc3545;
  display: block;
  cursor: pointer;
  outline: none;
  border-top: none;
}

.flight-name {
  font-size: 14px;
  color: #dc3545;
  font-weight: 700;
}

/* icon animation */
.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* icon animation for click button */
.rotate-click {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.rotate-click.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* direct flight font size */
.font-size {
  font-size: 14px;
}

.check-price {
  margin-top: 10px;
}

.modify-search {
  background-image: url("../images/WhatsApp\ Image\ 2022-06-26\ at\ 12.50.17\ PM.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  background-size: fixed;
  background-repeat: no-repeat;
  background-position: fixed;
}

.modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}

/* .form-control {
  border-radius: 5px;
  } */

.btn {
  border-radius: 0;
}

.form-select {
  border-radius: 0;
}

/* login form  */
.infinity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 95vh;
}

@media (min-width: 768px) {
  .infinity-container {
    background: url("bg.png") center no-repeat;
  }
  .infinity-form {
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
    width: 28rem;
  }
}

.infinity-form {
  background: white;
}

.infinity-form h4 {
  font-weight: bold;
}

.infinity-form .form-input {
  position: relative;
}

.infinity-form .form-input input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  background: transparent;
  padding-left: 40px;
  font-weight: bold;
  color: #777;
}

.infinity-form .form-input span {
  position: absolute;
  top: 8px;
  padding-left: 10px;
  color: #777;
}

.infinity-form .form-input input::placeholder {
  padding-left: 0px;
}

.infinity-form .form-input input:focus,
.infinity-form .form-input input:valid {
  border-bottom: 2px solid #004762;
}

.infinity-form
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #4ea585 !important;
  border: 0px;
}

.infinity-form button[type="submit"] {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(45deg, #004762, #004762);
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 10px;
}

.infinity-form button[type="submit"]:hover {
  background: linear-gradient(45deg, #004762, #004762);
}

.forget-link,
.login-link,
.register-link {
  color: #004762;
  font-weight: bold;
}

.forget-link:hover,
.login-link:hover,
.register-link:hover {
  color: #004762;
  text-decoration: none;
}

.infinity-form .btn-social {
  color: #fff;
  border: 0;
  display: inline-block;
  font-weight: bold;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.infinity-form .btn-facebook {
  background: #4866a8;
}

.infinity-form .btn-google {
  background: #da3f34;
}

.infinity-form .btn-twitter {
  background: #33ccff;
}

.infinity-form .btn-facebook:hover {
  background: hsla(221, 40%, 40%, 1);
}

.infinity-form .btn-google:hover {
  background: hsla(4, 59%, 47%, 1);
}

.infinity-form .btn-twitter:hover {
  background: hsla(195, 78%, 54%, 1);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
  border-color: var(--light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #c5c4c4;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 16px;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: #ffffff;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: var(--primary);
}
